@import "bootstrap/scss/bootstrap";

.form {
  width: 700px;
  margin: 40px auto;
  text-align: center;
}

.title {
  text-align: center;
}

.special {
  background-color: darkgreen;
  color: white;
  box-shadow: 2px;
  border-radius: 16px;
  width: 350px;
  margin: 40px auto;
}

// h1 {
//   font-weight: bold;
//   text-align: center;
// }

.task_list{
  margin-left: 700px;
  font-weight: 500;
}

p {
  text-align: center;
}

.tasks_description {
  background-color: lightyellow;
}
